@media screen and (max-width: 550px) {
    header {
        flex-direction: row;
        padding: 10px;
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 40px;
        line-height: 46px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .intro__subtitle {
        max-width: 520px;
        font-size: 18px;
        line-height: 20px;
    }

    .header__title {
        max-width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }

    .hamburger__img {
        width: 40px;
        margin-left: 10px;
    }

    .header__nav {
        display: none;
    }

    .navigation_mobile {
        display: block;
    }
  
    #hamburger {
        display: none;
    }

    .header__nav_mobile ul {
        border: 2px rgb(255, 255, 255) solid;
        margin: 0 10px;
    }

    .nav__link {
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        line-height: 18px;
    }

    .header__nav_mobile { 
        display: none; 
    }

    #hamburger:checked ~ .header__nav_mobile { 
        display: block;
    }

    .footer__link {
        display: none;
    }

    .footer__link_mobile {
        display: block;
    }
   
    .footer__list{ 
        display: none;
    }
    .footer__list_mobile {
        display: block;
    }

    .footer__contacts {
        padding: 0;
    }

    .about__items {
        grid-template-columns: repeat(1, 80%);
    }

    .classes__row {
        flex-direction: column;
        margin: 30px auto;
    }

    .classes__subtitle {
        margin: 10px;
        max-width: 520px;
        font-size: 18px;
        line-height: 20px;
    }
    
    .classes__caption {
        margin: 10px;       
    }
    
    .classes__text {
        margin: 10px;
        max-width: 520px;
    }

    .contact__img {
        display: none;
    }

    input[type=submit] {
        width: 100%;
    }
    
}
