body {
    max-width: 100%;
    margin: 0 auto;
    background: #9fd4f373;
    color: #1c3a5f;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

header {
    background-color: #1c3a5f;
    max-width: 100%;
    margin: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 100px;
    display: inline-block;
    margin: 0 auto;   
    filter: contrast(2);
}

.header__title {
    text-rendering: optimizeLegibility;
    margin: 10px auto;
    max-width: 720px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #b5c2c7;    
}

.header__nav {
    margin: 10px auto;
}

ul { 
    list-style: none;
    margin: 0 20px 0 auto;
    text-align: right;
}

li {
    display: inline-block;
    margin:  0 20px 0 0;
    font-size: 26px;
    font-weight: 700;
}

a {
    text-decoration: none;
    transition: opacity 0.2s linear;
    opacity: 1;
}

a:hover {
    opacity: 0.5;
}

a:active {
    opacity: 0.7;
}

.nav__link {  
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.navigation_mobile {
    display:none;
}

.header__nav_mobile{
    display:none;
}

.intro {
    margin: 20px 40px 0;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
}

.intro__subtitle {
    margin: 32px auto;
    max-width: 940px;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}

.intro__image {
    width: 100%;
}

.intro__caption {
    margin: 10px auto 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
}

.about {
    margin: 20px 40px;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    text-rendering: optimizeLegibility;
    margin: 20px auto;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #1c3a5f;
}

.about__parag {
    margin: 10px auto;
}

.about__items {
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 40px;
    margin: 20px auto;  
    justify-items: center;
    justify-content: center;
    align-items: baseline;
}

.about__item {
    display: flex;
    flex-direction: column;
    max-width: 230px;
}
.about__img {
    max-width: 150px;
}

.about__text {
    margin: 10px;
    max-width: 940px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.classes__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.classes__subtitle {
    margin: 32px 20px;
    max-width: 940px;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
}

.classes__caption {
    margin: 32px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}

.classes__text {
    margin: 32px 10px;
    max-width: 940px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.contact {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.contact__img {
    width: 50%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #1c3a5f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #5885bb;
}
  
.container {
    margin: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

textarea {
    height: 100px;
}

footer {
    background-color: #1c3a5f;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer li {
    display: block;
}

.footer__nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}

.footer__link {
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.2s linear;
    opacity: 1;
}

.footer__list {
    margin:  0 20px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;    
}